{% extends 'account/base.html' %} {# Extends the account-specific base #}
{# {% load crispy_forms_tags %} #} {# If you decide to use crispy-forms later for styling #}

{% block account_content %}
<h3>Login</h3>
<form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
    {% endif %}
    <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endblock %}